html,
body {
    height: 100%;
    min-height: 500px;
}

body {
    display: flex;
    font-family: 'Titillium Web', Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, "Microsoft YaHei", Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url(../images/bg.png) 0 0 / 100% 100% no-repeat;
}


#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 15000;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}


#logo {
    width: 25%;
    padding-bottom: 10%;
}

.form-btn {
    z-index: 1;
    position: absolute;
    padding-top: 40%;
    text-align: center;
}

.form-btn .form-login {
    width: 50px;
    height: 50px;
    /* margin-left: 50px; */
    background: #F8E2B6;
    border: 1px solid #F8E2B6;
    border-radius: 50%;
    outline: none;
    font-size: 12px;
    color: #D2332D;
    background: #F8E2B6 url(../images/å¯.png) no-repeat scroll 15px 15px / 20px 20px;
}

.infos {
    position: absolute;
    padding-top: 60%;
    font-size: 12px;
    color: #F8E2B6;
    text-align: center;
}


.remind {
    color: #fff;
}


.form-group {
    position: relative;
}

.form-group>.form-control {
    z-index: 3;
    position: relative;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #777;
    padding-top: 10px;
    font-size: 12px;
    background: none;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form-group>.form-label {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.form-group>:first-child {
    margin-bottom: 5px;
}

.form-group>.form-control:focus,
.form-group>.form-control:valid {
    box-shadow: 0 1px #c21f30;
    border-color: #c21f30;
}

.form-group>.form-control:focus+.form-label,
.form-group>.form-control:valid+.form-label {
    font-size: 12px;
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}